alembic
cloudinary
email-validator
Faker
Flask
Flask-Cors
flask-marshmallow
Flask-Migrate
Flask-RESTful
Flask-SQLAlchemy
Flask-WTF
Flask-Login
flask-login
gunicorn
honcho
importlib-metadata
marshmallow
marshmallow-sqlalchemy
packaging
psycopg2-binary
python-dateutil
python-dotenv
SQLAlchemy
SQLAlchemy-serializer
urllib3
Werkzeug
WTForms
zipp
flask-bcrypt
